falcon
peewee
Jinja2
gunicorn
simplejson
requests
redis
redis-py-cluster
redis-shard
kazoo
celery[librabbitmq,redis,msgpack]
msgpack-python
thriftpy
kafka-python
elasticsearch
#rc
#falconpb
#BeautifulSoup4
#MySQL-python
#pika
#gevent
#grequests
#gsocketpool
#gevent-websocket
#geventconnpool
